/* div{
    background-color: aqua;
    display: inline;
}
button{
    display: block;
} */

div{
    width: 100px;
    height: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;
    /* By using Inline-block we can set margin and padding; */
}